
/*-----------------------------------------------*/
/*                    Accueil                    */
/*-----------------------------------------------*/
#monBoutonB{
  height:60px;
  margin-left:7px;
}

#monBoutonB:hover{
  height:65px;
}

.info{
  margin-top: -20%;
  padding-bottom: 10%;
  text-align:center;
  color:white;
  background-color:black;
  line-height:2em;
  justify-content: center;

}

.bold{
  font-weight:normal;
  font-size:1.5em;
}

.info .contact{

  color:white;
  font-weight:normal;
  text-decoration:underline;
  font-size:0.8em;
  background: black;
  align-self: center;
}

.apropos {
  font-weight:normal;
  font-size:0.8em;
}

/*-----------------------------------------------------*/
/*                     Slider                          */
/*-----------------------------------------------------*/


.container_slider{
  width: 100%;
}


@keyframes slidy{
  0%    { left: 0%;    }
  20%   { left: 0%;    }
  25%   { left: -100%; }
  45%   { left: -100%; }
  50%   { left: -200%; }
  70%   { left: -200%; }
  75%   { left: -300%; }
  95%   { left: -300%; }
  100%  { left: -400%; }
}

body { margin: 0; } 
div#slider { 
  overflow: hidden;
  background:black;
  
}

  

div#slider figure img { width: 20%; float: left; }
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  animation: 30s slidy infinite; 
}
.centree{
  position: relative;
  top: 55%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: 8.2vmin;
  font-family:"Hotel de Paris";
  color: white;
}

input.centree2{
  margin-bottom: 10%;
  width: 20%;
  color: #C0C0C0;
  font-size: 4.2vmin
  }

  @media screen and (max-width: 500px){

  .centree input.centree2{
  margin-bottom: 10%;
  width: 30%;
  color: #C0C0C0;
  font-size: 2.2vmin
  }
}

/*-----------------------------------------------*/
/*                   Les iles                    */
/*-----------------------------------------------*/
#conteneur-ile{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  background-color: rgba(10,0,0,0.6);
}

.article-ile{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.article-ile img{
  max-width:20em;
  max-height:11em;
  min-width: 0; min-height: 0;
  margin-bottom: 5%;
}

.description-ile{
  max-width:350px;
  text-align:justify;
  margin-left: 30px;
  margin-bottom:5%;
  font-size:smaller;
}

.btn-ile{
  margin-top: 20px;
  background-color: #FFFFFF;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  width:50%; 
  height:0%;
  margin-bottom: 10px;
}

.btn-ile:hover{
  background-color: black;
  color: white;
  transition: background .5s;
}