

/*-----------------------------------------------*/
/*              Map - France                     */
/*-----------------------------------------------*/

ul{
   /* background: #3399ff; */ 
    font-size: 18px;
    color: white;
    list-style-type: none;
    margin-left: 10px;
    padding: 20px;
    height: 100%;
}
ul li {
    margin: 10px;
}



.map_conteneur
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background:#223E4A;
}

.map_image
{
  margin-top: 10px;
  width:  65%;
}
.map_image path
{
  fill : #a4ced2;
  stroke: #223E4A;
  stroke-width : 1px;
}

.map_image .is-active path
{
  fill : #3538d2;
}


.map_list a 
{
  color: inherit;
  text-decoration: none;
}

.map_list a.is-active 
{
  color: #3538d2;
 /* font-weight: bold; */
}

/*---------------------------------------------------------*/
/*  Diferencier la Guadeloupe d'autres regions par defaut  */
/*------------------------ORANGE---------------------------*/

path.guad
{
  fill: orange;
}
.is-active path.map_guad
{
  fill: #3538d2;
}



li.list_guad
{
  color: orange;
}

/* -----------------------------------------------------*/
/*           correction du svg  de la Guyanne           */
/* ----Tout commenter et passer la souris sur Guyanne---*/
.map_guy
{
  width:  50%;
}
.map_guy path
{
  fill : #a4ced2;
  stroke: #a4ced2;
  stroke-width : 0px;
}


/*-----------------------------------------------------*/
/*                  Iles- Guadeloupe                   */
/*-----------------------------------------------------*/

.map_list2 ul
{
  display: flex;
  width: 100%;
}

.map_list2 ul li
{
  margin: 10px;
}


.map_conteneur_guad
{
  background:#223E4A;
  width: 47%;
}


.map_guad .is-active path
{
  fill : #3538d2;
}


@media screen and (max-width: 850px)
{
  .map_list2 ul
  {
    display: inline;
    padding-bottom: 100%;
    
  }

  .map_list2 ul li
  {
    margin: 10px;
  }
}


/* Couleur de fond de chaque île */

.bkgGuadDs { fill: #FFE4E1;} /* Le désirable */
.bkgGuadMg { fill: #F5DEB3;} /* Le désirable */
.bkgGuadIpt{ fill: #90EE90;} /* îles de la petite-terre */
.bkgGuadIs { fill: #FAFAD2;} /* îles de saintes */
.bkgGuadGt { fill: #E6E6FA;} /* Grande Terre */
.bkgGuadBt { fill: #7FFFD4;} /* Basse Terre */
.bkgGuadFj { fill: #F0F8FF;} /* Fajou */
