ul#menu_horizontal { 
width : 600px; 
height : 30px;
margin : 1% 0 50% 50%;
padding : 0;
background-color : #f4f9fd;
border : 1px solid black;
list-style-type : none; 
}
 
ul#menu_horizontal li {
padding : 0 0.5em;  
line-height : 30px;
}
 
ul#menu_horizontal li.bouton_gauche {
float : left;
border-right : 1px solid black; 
}
 
ul#menu_horizontal a {
color : black;
text-decoration : none;
padding : 0 0.5em; 
font :  1em "Trebuchet MS";
}
 
ul#menu_horizontal a:hover { text-decoration : underline; }
 
ul#menu_horizontal a img { 
border : none;
padding :  0 0.3em;
}

/*iles.html*/

.body-ile body{
	background-image:url(../img/fond-ile.jpg);
	background-repeat:no-repeat;
}

.titre {	
	src:url("font/hotel_de_paris.ttf") format ("ttf");
	font-family:"hotel"; 
	text-align:center;
}



.article-ile{	
	margin-left:25%;
	margin-right:25%;	
	
}

.article-ile img{
	width:20em;
	height:11em;
	float:left;
	margin-bottom:10%;
	vertical-align:text-top;
	
}


.description-ile{
	width:300px;
	max-width:350px;
	min-width:100px;
	text-align:justify;
	float:right;
	margin-bottom:5%;
	height:10px;
	font-size:smaller;
	font-family :Helvetica light ;
}

.description-ile h3{
	color:#A9A9A9;
	font-size:large;
}

.container-ile{	
	width:300px;
	display:block;
}

.description-ile input{	
	width:150px;
	margin-top:3%;
	height:32px;
	
}

#btn-ile{
	background-color: #FFFFFF;
}

#btn-ile input:hover {
	background-color:#696969;
	color:#FFFFFF;
}

@media all and (max-width: 1024px){
	.titre{
		font-size:28px;
	}
    .article{
        width: auto;
    }
	.container{
		width:auto;
	}
	.description{
	
	}
	.article img{
		display:inline-block;
	}
}

