
/*-----------------------------------------------*/
/*             Propietes par defaut              */
/*-----------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
  background: #ffffff;
}

@font-face{ /*autre police à la place de Trend*/
  font-family:"Hotel";
  src: url("font/hotel_de_paris.ttf"); /*marche pas -_-*/
}

h1
{
  font-family:Hotel;
  text-align:center;
  padding-bottom:2%;
  margin:10px auto 10px auto;
  text-align:center;
  color:#fff;
}
/*-----------------------------------------------*/
/*           L'entete de la page                 */
/*-----------------------------------------------*/
.entete
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.header
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
/*-----------------------------------------------*/
/*           Le menu remposive                   */
/*-----------------------------------------------*/
.pas-active
{
   pointer-events: none;
   cursor: default;
}



nav {
  margin-top: 10px;
  max-width: 700px;
  width: 95%;
}


#checkbox1,
.toggle {
  display: none;
}

.menu {
  padding: 0;
  margin: 0;
  max-width: 700px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.menu li a {
  text-decoration: none;
  align-self: center;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px 15px;
  transition: background .2s linear;
}

@media screen and (max-width: 600px) {
  .menu li a {
    font-size: 13px;
  }
}

@media screen and (max-width: 550px) {
  .toggle {
    clear: both;
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    cursor: pointer;
    width: 100%;
    height: 40px;
    font-size: 18px;
    color: #595959;
    background: #dbdbdb;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all .1s linear;
  }
  .toggle:hover {
    background: #cecece;
  }
  #checkbox1:checked + label .demo li {
    opacity: 1;
    visibility: visible;
    transition: all .7s linear;
  }

  #checkbox1:checked + label .demo {
    height: 200px;
  }
  .menu {
    border-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 0px;
    transition: height .3s linear;
  }
  .menu li {
    display: flex;
    /* magic */
    align-self: center;
    width: 95%;
    opacity: 0;
    visibility: hidden;
  }
  .menu li a {
    width: 95%;
    text-align: center;
    align-self: center;
    align-content: center;
  }
}

.demo {
 background-image: linear-gradient(white 50%,grey);
 border-top:2px solid #F1F1F1;
}

.demo li a {
  color: #000066;
  border-right : 1px solid white;
  border-left : 1px solid white;

}

.demo li a:hover {
  background: #000066;
  color: white;
}
/*-----------------------------------------------*/
/*        Le contenu de chaque page              */
/*-----------------------------------------------*/
.main
{
  display: flex;
  justify-content: center;
  background-image: url("../img/fond-ile.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #cccccc;
}
/*-----------------------------------------------*/
/*                   Les iles                    */
/*-----------------------------------------------*/
#conteneur-ile
{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  background-color: rgba(10,0,0,0.6);
}

.article-ile
{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.article-ile img{
  max-width:20em;
  max-height:11em;
  min-width: 0; min-height: 0;
  margin-bottom: 5%;
}

.description-ile
{
  max-width:350px;
  text-align:justify;
  margin-left: 30px;
  margin-bottom:5%;
  font-size:smaller;
  font-family:"Helvetica light" ;
}

.btn-ile{
  margin-top: 20px;
  background-color: #FFFFFF;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    width:50%; 
    height:0%;
}

.btn-ile:hover {
    background-color: #555555; /* Green */
    color: white;
}

/*-----------------------------------------------*/
/*                   le footer                   */
/*-----------------------------------------------*/

#monBouton{
  height:60px;
  margin-left:7px;
}

#monBouton:hover{
  height:65px;
}

.logo{
  padding-left:1%;
  width: 110px;
}
.nomlogo{
  width: 205px;
}

.foot{
  padding-top: 0.2px;
  height: 170px;
  width:100%;
  background-color:#333333;
  color:grey;
  text-align:center;
}

/*-----------------------------------------------*/
/*              Map - France                     */
/*-----------------------------------------------*/

ul{
   /* background: #3399ff; */ 
    font-size: 18px;
    color: white;
    list-style-type: none;
    margin-left: 10px;
    padding: 20px;
    height: 100%;
    border-right: 1 solid #CCCCCC;
}
ul li {
    margin: 12px;
}

.map_conteneur
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background:#223E4A;
}

.map_image
{
  margin-top: 10px;
  width:  65%;
}
.map_image path
{
  fill : #a4ced2;
  stroke: #223E4A;
  stroke-width : 1px;
  transition: fill 0,3s

}
.map_image .is-active path
{
  fill : #3538d2;
}
.ma_list
{
  width: 100%;
}

.map_list a 
{
  color: inherit;
  text-decoration: none;
  transition: color 0,3s

}

.map_list a.is-active 
{
  color: #3538d2;
 /* font-weight: bold; */
}
.map_list li:hover
{
  color: #ffffff;
  border-color: green;
}
/*---------------------------------------------------------*/
/*  Diferencier la Guadeloupe d'autres regions par defaut  */
/*------------------------ORANGE---------------------------*/

.map_image path.map_guad 
{
  fill :orange;
  stroke: #a4ced2;
  stroke-width : 0px;
  transition: fill 0,3s
}

.map_list li.list_guad 
{
  color: orange;
}


/* -----------------------------------------------------*/
/*           correction du svg  de la Guyanne           */
/* ----Tout commenter et passer la souris sur Guyanne---*/
.map_guy
{
  width:  50%;
}
.map_guy path
{
  fill : #a4ced2;
  stroke: #a4ced2;
  stroke-width : 0px;
  transition: fill 0,3s
}

.map_guy path:hover
{
  border-color: green;
  fill : #3538d2;
  stroke: #a4ced2;
}
/*-----------------------------------------------------*/
/*                  Iles- Guadeloupe                   */
/*-----------------------------------------------------*/
.map_conteneur_guad
{
  background:#223E4A;
  display: flex;
  padding:10px; 
  width:  30%;
  flex-direction: column;
  flex-wrap: wrap;

}

.bkgGuadDs
{
  fill: #FFE4E1;
}
.bkgGuadMg
{
  fill: #F5DEB3
}
.bkgGuadIpt
{
  fill: #90EE90
}
.bkgGuadIs
{
  fill: #FAFAD2
}
.bkgGuadGt
{
  fill: #E6E6FA
}
.bkgGuadBt
{
  fill: #7FFFD4
}
.bkgGuadFj
{
  fill: #F0F8FF
}

/*-----------------------------------------------------*/
/*                     Slider                          */
/*-----------------------------------------------------*/

p {
  color: #aaa;
  text-align: right;
}
.container_slider {
  height: 100%;
}



/* Slider */
.slider,
.slider li {
  width: 800px;
  height: auto;
}

.slider img
{
  width: 100%;
  height: auto;
  padding: 0px;

}

.slider {
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  border-radius: 3px;
  word-spacing: -2px; /* removing inline elements spacing */
  letter-spacing: -2px;
}

.slider li {
  display: inline-block;
  word-spacing: normal; /* restoring spacing */
  letter-spacing: normal;
}

@keyframes slider {
  0%, 18% {margin-left: 0; margin-right: 0%}
  20%, 38% {margin-left: -100% ; margin-right: 0%}
  40%, 58% {margin-left: -200%; margin-right: 0%}
  60%, 99.9% {margin-left: -300% ; margin-right: 0%}
  100% {margin-left: 0;}
}
@-webkit-keyframes slider {
  0%, 18% {margin-left: 0; margin-right: 0%}
  20%, 38% {margin-left: -100%; margin-right: 0%}
  40%, 58% {margin-left: -200%; margin-right: 0%}
  60%, 99.9% {margin-left: -300%; margin-right: 0%}
  100% {margin-left: 0;}
}
.slider li:first-child {
  animation: slider 20s ease-out infinite;
  -webkit-animation: slider 20s ease-out infinite;
}

/* pause animation on mouse over */
.slider:hover li:first-child {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}