/*
 * Author: Petr Mukhortov
 * Author URI: http://mukhortov.com/
*/

/* Page Style */

p {
	color: #aaa;
	text-align: right;
}
.container_slider {
	height: 100%;
}



/* Slider */
.slider,
.slider li {
	width: 800px;
	height: auto;
}

.slider img
{
  width: 100%;
  height: auto;
  padding: 0px;

}

.slider {
	overflow: hidden;
	list-style: none;
	padding: 0;
	margin: 0;
	white-space: nowrap;
	border-radius: 3px;
	word-spacing: -2px; /* removing inline elements spacing */
	letter-spacing: -2px;
}

.slider li {
	display: inline-block;
	word-spacing: normal; /* restoring spacing */
	letter-spacing: normal;
}

@keyframes slider {
	0%, 18% {margin-left: 0; margin-right: 0%}
	20%, 38% {margin-left: -100% ; margin-right: 0%}
	40%, 58% {margin-left: -200%; margin-right: 0%}
	60%, 99.9% {margin-left: -300% ; margin-right: 0%}
	100% {margin-left: 0;}
}
@-webkit-keyframes slider {
	0%, 18% {margin-left: 0; margin-right: 0%}
	20%, 38% {margin-left: -100%; margin-right: 0%}
	40%, 58% {margin-left: -200%; margin-right: 0%}
	60%, 99.9% {margin-left: -300%; margin-right: 0%}
	100% {margin-left: 0;}
}
.slider li:first-child {
	animation: slider 20s ease-out infinite;
	-webkit-animation: slider 20s ease-out infinite;
}

/* pause animation on mouse over */
.slider:hover li:first-child {
	animation-play-state: paused;
	-webkit-animation-play-state: paused;
}